{extends '@layout.latte'}

<div id="full" n:block="eshoplayout">
    <div class="page">
        <div class="content">
            <div class="main-panel text">
                {include #main}
                {block #next}{/block}
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="line-darkblue"></div>
</div>
