{extends '@layout.classic.latte'}

{block main}
<div>
    <h3><a href="http://www.leteckapaliva.cz">Air Fuels Service spol. s r.o.</a></h3>
    <p>Dodavatel leteckých pohonných hmot AVGAS 100LL a JET A1</p>
</div>

<div>
    <h3><a href="http://www.mdvrt.cz/">WELSTAM s.r.o.</a></h3>
    <p>Vlastník vrtulníku MD 520 N</p>
</div>

<div>
    <h3><a href="http://www.zamek-liblice.cz/">Zámek Libice</a></h3>
    <p>Konferenční centrum Akademie Věd ČR</p>
</div>
{/block}